@font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 200;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 400;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 600;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 800;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff");
}

.c-page-contents__title {
    display: none;
    font-size: 20px;
    line-height: 32px;
}

@media(min-width:925px) {
    .c-page-contents__title {
        display: block;
    }
}

.c-page-contents__list {
    margin-bottom: 32px;
    margin-top: 16px;
    padding-bottom: 32px;
}

.c-page-contents__link {
    text-decoration: none;
}

.c-page-contents__link:hover {
    text-decoration: underline;
}

.c-page-contents__link:active {
    text-decoration: underline;
}

.js-content-fixed {
    position: fixed;
    top: 0;
}

.active {
    color: #4c92d9 !important;
    text-decoration: underline;
}

.tabs {
    border-bottom: 2px solid #ccc;
    margin-top: 16px;
    max-width: 100%;
}

@media(max-width:640px) {
    .tabs {
        padding-left: 8px;
    }
}

.tab__item {
    display: inline;
}

@media(min-width:641px) {
    .tab__item {
        margin-right: 16px;
    }
}

@media(max-width:640px) {
    .tab__item {
        margin-right: 4px;
    }
}

.tab__link {
    background: #efefef;
    border: 2px solid #ccc;
    border-bottom: 0;
    display: inline-block;
    text-decoration: none;
}

@media(max-width:640px) {
    .tab__link {
        padding: 8px 24px;
    }
}

@media(min-width:641px) {
    .tab__link {
        padding: 12px 24px;
    }
}

@media(min-width:925px) {
    .tab__link {
        padding: 16px 32px;
    }
}

.tab__link:hover {
    text-decoration: underline;
}

.tab__link:focus {
    background: #fff;
    outline: none;
    text-decoration: none;
}

.tab__link--current {
    background: #fff;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    top: 3px;
}

.tab__link--current:hover,
.tab__link--current:active,
.tab__link--current:focus {
    color: #005eb8;
    cursor: text;
    text-decoration: none;
}

.c-callout__alert {
    background-color: #fffbcc;
    background-image: url(/medicines/assets/images/icons/yellow-exclamation.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 6px solid #ffed00;
    display: block;
    font-weight: bold;
    padding: 30px 20px 30px 85px;
}

@media(max-width:640px) {
    .c-callout__alert {
        background-position: 20px 18px;
        padding: 18px 18px 18px 85px;
    }
}

.c-callout__alert p,
.c-callout__alert li {
    font-weight: bold;
}

.c-callout__info {
    background-image: url(/medicines/assets/images/icons/blue-info.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 6px solid #0065b6;
    display: block;
    font-weight: bold;
    margin: 40px 0;
    padding: 30px 20px 30px 85px;
}

@media(max-width:640px) {
    .c-callout__info {
        background-position: 20px 18px;
        padding: 18px 18px 18px 85px;
    }
}

.c-callout__emergency {
    background-color: #fbe8e6;
    background-image: url(/medicines/assets/images/icons/red-exclamation.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 6px solid #d81e05;
    display: block;
    font-weight: bold;
    margin: 40px 0;
    padding: 30px 20px 30px 85px;
}

@media(max-width:640px) {
    .c-callout__emergency {
        background-position: 20px 18px;
        padding: 18px 18px 18px 85px;
    }
}

.c-common-questions {
    background: #f1f7fc;
    padding: 8px 16px;
}

.c-common-questions__summary {
    display: block;
}

.c-common-questions__summary[aria-expanded="true"] h3::after {
    content: "- ";
    right: 13px;
}

.c-common-questions__summary::-webkit-details-marker {
    display: none;
}

.c-common-questions__summary .details__arrow {
    display: none;
}

.c-common-questions__header {
    font-size: 20px;
    border-top: 1px dotted #ccc;
    font-weight: normal;
    margin-top: 0;
    padding: 5px 30px 5px 0;
}

.c-common-questions__header::after {
    content: "+ ";
    font-size: 25px;
    position: absolute;
    right: 10px;
}

.c-common-questions__details {
    margin-top: 0;
}

.c-common-questions__details:first-child .c-common-questions__header {
    border-top: 0;
}

.c-common-questions__content {
    margin-bottom: 16px;
    margin-top: 8px;
}

.c-links {
    border: 1px solid #ccc;
    padding: 16px;
}

@media(min-width:641px) {
    .c-links {
        border-box: border-box;
        display: table;
        width: 100%;
    }
}

@media(min-width:641px) {
    .c-links__row {
        display: table-row;
    }
}

@media(min-width:641px) {
    .c-links__col {
        border-left: 1px solid #ccc;
        display: table-cell;
        padding-left: 30px;
        width: 45%;
    }
}

@media(min-width:641px) {
    .c-links__col:first-child {
        border-left: 0;
        padding-right: 5%;
        padding-left: 0;
    }
}

@media(max-width:640px) {
    .c-links__col:last-child {
        border-top: 1px solid #ccc;
        margin-top: 32px;
        padding-bottom: 16px;
        padding-top: 24px;
    }
}

.c-links__header {
    font-size: 24px;
}

.c-links__list {
    list-style: none;
    margin-top: 8px;
    padding: 0;
}

.hub-list {
    padding-left: 0;
}

.hub-list:after {
    content: "";
    display: table;
    clear: both;
}

.hub-list__item {
    display: inline;
    float: left;
    list-style: none;
    margin-top: 0 !important;
    padding: 0;
    text-align: center;
    width: 48%;
}

.hub-list__item:last-child {
    margin-left: 4%;
}

.hub-list__link {
    background: #f1f7fc;
    border: 2px solid #005eb8;
    display: block;
    font-weight: bold;
    padding: 40px 10px;
    text-decoration: none;
    width: 100%;
}

.hub-list__link:focus,
.hub-list__link:hover {
    background: #005eb8;
    color: #fff;
}

@media(max-width:640px) {
    .hub-list__link {
        min-height: 140px;
    }
}

.callout {
    background: #fffbcc;
    border-left: 3px solid #ffed00;
    font-weight: bold;
    padding: 15px 15px 10px 15px;
}

.callout:after {
    content: "";
    display: table;
    clear: both;
}

.u-align-centre {
    text-align: center;
}

.u-clear {
    clear: both;
}

.u-margintop40 {
    margin-top: 40px;
}

.u-block {
    display: block;
}

.inhaler__img {
    margin-top: 0;
    vertical-align: top !important;
}

.callout-less {
    font-weight: bold;
}

.callout--info {
    background: #f1f7fc;
    border-color: #0065b5;
    border-style: solid;
    border-width: 0 0 0 6px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 30px;
    padding: 20px 16px !important;
    width: 33.333%;
}

.callout--info--full {
    width: 100%;
}

.callout--info h3 {
    font-size: 19px;
}

@media(max-width:480px) {
    .callout--info {
        padding: 10px !important;
    }
    .callout--info h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.callout--diagram {
    background: #f1f7fc;
    border-color: #0065b5;
    border-style: solid;
    border-width: 0 0 0 6px;
    margin: 40px 0;
    padding: 26px 0 16px 0;
}

.callout--diagram h3 {
    font-size: 20px;
    margin: 0;
}

.callout--diagram__container-right {
    border-right: 2px solid #000;
    position: relative;
}

.callout--diagram__container-left {
    border-left: 2px solid #000;
    position: relative;
}

.callout--diagram__notch--top-right {
    background: #000;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    width: 10px;
}

.callout--diagram__notch--bottom-right {
    background: #000;
    bottom: 0;
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    width: 10px;
}

.callout--diagram__notch--top-left {
    background: #000;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    width: 10px;
}

.callout--diagram__notch--bottom-left {
    background: #000;
    bottom: 0;
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    width: 10px;
}

.callout__text-top {
    left: 45%;
    position: absolute;
    top: 0;
}

.callout__text-middle {
    position: relative;
}

.notch-left {
    background: #000;
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 1.3em;
    width: 30px;
}

.notch-right {
    background: #000;
    bottom: 1.3em;
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    width: 30px;
}

@media(min-width:1280px) {
    .notch-left {
        width: 50px;
    }
    .notch-right {
        width: 50px;
    }
}

.info-pills {
    list-style: none;
    list-style-position: inside;
    margin: 20px 0 0 0;
    padding: 0;
}

.info-pills__item {
    display: inline-block;
    margin: 0 8px 20px 0;
    text-align: center;
}

.info-pills__item:last-child {
    margin-right: 0;
}

.info-pills__img {
    float: left;
    height: 35px;
    margin-top: 0;
    width: 35px;
}

.info-pills__time {
    border: 2px solid #000;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 3px;
    padding: 4px 10px 3px 10px;
}

.info-pills__dosage {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
}

.callout__col {
    display: table-cell;
}

.callout__col--float {
    display: block;
    float: left;
    margin-top: 0;
}

.callout__col--middle {
    position: relative;
    vertical-align: middle;
}

.callout__caption {
    display: none;
}

.callout--diagram__col {
    display: none;
}

.u-align-centre .info-pills__item {
    display: block;
    margin: 0 auto 15px auto;
}

.u-align-centre .info-pills__img {
    float: none;
}

.u-align-centre .info-pills__time {
    display: inline-block;
    margin-left: 0;
}

.callout--diagram__box {
    background: #fff;
    border: 2px solid #000;
    margin: 0 0 0 30px;
    padding: 15px 15px 10px 15px;
}

.icon-clock-bg {
    background: url(/medicines/assets/images/icons/clock-icon.png) left 34px no-repeat;
    margin: 0 30px;
    padding: 30px 0 5px 30px;
}

.callout__col--float__middle {
    margin-left: 30px;
    margin-top: 5px;
}

@media(max-width:480px) {
    .callout__col {
        float: none;
        width: 100%;
    }
    .callout__col--middle {
        margin: 40px 0;
    }
    .callout__col--float {
        float: left;
        width: auto;
    }
    .callout__col--float__middle {
        margin-left: 15px;
        margin-top: 0;
    }
    .callout--diagram__box {
        background: #fff;
        border: 2px solid #000;
        margin: 0 0 0 15px;
        padding: 10px 10px 5px 10px;
    }
    .icon-clock-bg {
        background-position: left 21px;
        margin: 0 15px;
        padding: 25px 0 5px 30px;
    }
}

.callout__col--row {
    display: table-cell;
    width: 34%;
}

@media(max-width:640px) {
    .callout-col--larger {
        width: 60%;
    }
    .callout--diagram .callout__col--row:last-child h3 {
        margin-top: 40px;
    }
    .callout__col--hide {
        display: none;
    }
    .callout__col--row {
        display: table-row;
    }
    .callout--diagram__container-right {
        position: relative;
    }
    .callout--diagram__notch-middle {
        background: #000;
        display: block;
        height: 2px;
        position: absolute;
        margin-top: 15px;
        width: 8%;
    }
    .callout__caption {
        display: block;
    }
    .callout--diagram__col {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 40%;
    }
    .callout--diagram__container-left {
        border-left: 0;
        border-right: 2px solid #000;
    }
    .callout--diagram__notch--top-left,
    .callout--diagram__notch--bottom-left {
        left: auto;
        right: 0;
    }
    .callout__col--second {
        padding-top: 40px;
    }
    .callout__col--full h4 {
        font-size: 19px;
    }
}

.c-video-wrapper {
    height: 0;
    margin-bottom: 32px;
    padding-bottom: 56.25%;
    padding-top: 32px;
    position: relative;
}

.c-video-wrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.local-header__subheader {
    display: block;
    font-weight: normal;
}

footer {
    margin-top: 32px;
}

@media(min-width:925px) {
    footer {
        margin-top: 16px;
    }
}

.o-section {
    margin-top: 48px;
}

.o-section--intro {
    margin-top: 0;
    margin-bottom: 80px;
}

@media(max-width:640px) {
    .o-section__header {
        margin-left: 1em;
    }
}

@media(min-width:641px) {
    .o-section__header {
        margin-left: 1em;
    }
}

.o-list-sections {
    padding-left: 2em;
    counter-reset: item;
    padding-left: 0;
}

.o-list-sections>li {
    display: block;
}

.o-list-sections>li:before {
    content: counter(item) ". ";
    counter-increment: item;
    width: 0;
    display: inline-block;
}

.o-list-sections__item {
    font-size: 28px;
    font-weight: bold;
    margin-top: 48px !important;
}

@media(min-width:641px) {
    .o-list-sections__item {
        font-size: 32px;
    }
}

@media(min-width:925px) {
    .o-list-sections__item {
        font-size: 36px;
        margin-top: 80px !important;
    }
}

.o-list-sections__item--first {
    margin-top: 8px !important;
}

.o-list-sections__item:nth-child(n+10) .o-section__header {
    margin-left: 1.5em;
}

.o-list-sections__section {
    font-size: 20px;
}

@media(max-width:640px) {
    .o-list-sections__section {
        margin-top: -1.8em;
    }
}

@media(min-width:641px) {
    .o-list-sections__section {
        margin-top: -2em;
    }
}
